/*Classes*/
.margin-left-sm {
  margin-left:5px;
}

.margin-bottom-sm {
  margin-bottom:5px;
}

.margin-top-sm {
  margin-top:20px;
}

.btn-home {
  padding: 11px 11px;
  background-color: #bf3f3b;
}

.menu {
    padding-top: 20px;
}

.form-control {
    border-radius: 0px;
}

.fa-caret-down {
    margin-right: 10px;
}

.nav-tabs {
  margin-bottom: 50px;
}

.nav-tabs>li {
    float: none; !important
}

.nav>li {
    display: inline-block; !important
}

.block {
    display: table;
    margin-bottom: 20px;
    height: 100px;
    width: 30%;
}

.block p:hover {
    background-color:  #d9534f;
    color: black;
    border: 1px solid rgb(158, 158, 158);
    cursor: pointer;
}

.block p {
    display: table-cell;
    vertical-align: middle;
     border-radius: 15px;
    /*border: 2px solid #404040;*/
       padding: 10px;
}

.block .fa-times-circle {
  color: #d9534f;
  position: absolute;
  top:0px;
  right:12px;
}

.block:hover .fa-times-circle {
  color: #a22b28 !important;
}

.block .fa-pencil {
  /*color: #d9534f;*/
  position: absolute;
  right:52px;
}

.fa-plus-circle {
  color:#6fe645 ;
  /*margin-bottom: 10px;*/
}

.tableContainer > div > .fa-pencil {
  position: absolute;
  top:4px;
}

td .fa-times-circle {
    color: #d9534f;
}

.carousel .fa-times-circle {
  color: #d9534f;
}


.login {
    margin-top: 150px;
     border-radius: 15px;
    border: 1px solid black;

}

.login .btn {
    padding-left: 20px;
    padding-right: 20px;
}

.login .btn-primary {
    color:black;
    border:1px solid black;
    background-color: #d9d9d9;
}

.login .btn-primary:hover {
    background-color: #bfbfbf;
}

.sectionHeading {
  font-size: 20px;
  padding: 10px;
}

.panel {
  margin-top: 20px;
}

.tableContainer {
  border: 1px solid black;
  border-radius: 10px;
  padding: 30px;
  margin-bottom: 20px;
}

.roundContainer {
  border: 2px solid #404040;
  border-radius: 10px;
  padding: 10px;
  background-color: #f4f4f4;

}

.shadow {
   -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
}

.tdBtn {
  padding: 0px;
}

.tdBtn .btn{
  border-radius: 0px;

}

.tdBtn .btn-primary{
  color: black;
}


.tdBtn .btn-primary:hover {
  color: white;
  background-color:  #d9534f;
  border-color: #d9534f;
  line-height: 1.42857143;
}

.panel-body.titleBox {
  background-color: rgba(112, 204, 255, 0.3);
  padding: 10px;
  padding-bottom: 15px;
  padding-top: 15px;
}

.img-modal .modal-dialog {
  width: 70%;
}

.img-modal .modal-dialog img {
  max-width: 100%;
  max-height: 100%;
}

.close {
  position: absolute;
   right: -20px;
   top: -20px;
}

.smallImg {
  border: 1px solid black;
  max-height: 150px;
  max-width: 150px;
  margin: 20px;
}


/*Elements*/

body {
  font-family: 'Open Sans', sans-serif;
}

table {
  overflow-y: visible;
  border: 1px solid #555555;
}

table td {
  border: 1px solid #7a7777;
  padding: 5px 15px 5px 15px;

}

td a {
    width:100%;
}

tr:nth-child(odd) {
  background: #e6e6e6 !important;
}

tr:nth-child(even) {
  background: #f5f5f5 !important;
}

tr:nth-child(even) .btn {
  background: #f5f5f5;
  border-color: #f5f5f5;
}

tr:nth-child(odd) .btn {
  background: #e6e6e6;
  border-color: #e6e6e6;
}

table th {
  background-color: #bababa;
  border: 1px solid #7a7777;
  padding: 5px 15px 5px 15px;
}

hr {
  border-top: 4px solid black;
}

label {
    line-height: 2.5;
}

a {
    color: inherit; !important
}

/*Carousel*/
/*#carousel {
  height: 500px;
}

.carousel-inner > .item > img {
    margin: auto;
}*/


.carousel-inner > .item {
  height: 500px;
}

.carousel-inner > .item > img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-height: 800px;
  width: auto;
}

.carousel-control.left,
.carousel-control.right {
  top: 45%;
  color: #222222;
  background-image: none;
}

/*Breadcrumbs*/
.btn-breadcrumb .btn:after {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 24px solid transparent;
  border-bottom: 24px solid transparent;
  border-left: 10px solid white;
  position: absolute;
  top: 50%;
  margin-top: -24px;
  left: 100%;
  z-index: 3;
}
.btn-breadcrumb .btn:before {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 24px solid transparent;
  border-bottom: 24px solid transparent;
  border-left: 10px solid rgb(173, 173, 173);
  position: absolute;
  top: 50%;
  margin-top: -24px;
  margin-left: 1px;
  left: 100%;
  z-index: 3;
}


/** The Spacing **/
.btn-breadcrumb .btn {
  font-size: 15px;
    font-weight: bold;
  padding:15px 0px 15px 0px;
  /*width: 375px;*/
}
.btn-breadcrumb .btn:nth-child(1) {
  background-color: #bf3f3b;
border-color: #bf3f3b;
}
.btn-breadcrumb .btn:nth-child(1):hover {
  background-color: #ac2925;
border-color: #ac2925;
}


.btn-breadcrumb .btn:nth-child(2){
background-color: #d15552;
border-color: #d15552;

}
.btn-breadcrumb .btn:nth-child(2):hover {
  background-color: #ac2925;
border-color: #ac2925;
}
.btn-breadcrumb .btn:nth-child(3) {
  background-color: #e36b68;
  border-color: #e36b68;
}
.btn-breadcrumb .btn:nth-child(3):hover {
  background-color: #ac2925;
border-color: #ac2925;
}

/** Danger button **/
.btn-breadcrumb .btn.btn-danger:after {
  border-left: 10px solid #d9534f;
}
.btn-breadcrumb .btn.btn-danger:before {
  border-left: 10px solid #d43f3a;
}
.btn-breadcrumb .btn.btn-danger:hover:after {
  border-left: 10px solid #bd2d28;
}
.btn-breadcrumb .btn.btn-danger:hover:before {
  border-left: 10px solid #ac2925;
}


.btn-breadcrumb .btn.btn-danger:nth-child(1):before {
  border-left: 10px solid #bf3f3b;
}
.btn-breadcrumb .btn.btn-danger:nth-child(2):before {
  border-left: 10px solid #d15552;
}
.btn-breadcrumb .btn.btn-danger:nth-child(3):before {
  border-left: 10px solid #e36b68;
}

.btn-breadcrumb .btn.btn-danger:nth-child(1):after {
  border-left: 10px solid #bf3f3b;
}
.btn-breadcrumb .btn.btn-danger:nth-child(2):after {
  border-left: 10px solid #d15552;
}
.btn-breadcrumb .btn.btn-danger:nth-child(3):after {
  border-left: 10px solid #e36b68;
}

.btn-breadcrumb .btn.btn-danger:nth-child(1):hover:before{
  border-left: 10px solid #bd2d28;
}
.btn-breadcrumb .btn.btn-danger:nth-child(2):hover:before {
  border-left: 10px solid #bd2d28;
}
.btn-breadcrumb .btn.btn-danger:nth-child(3):hover:before {
  border-left: 10px solid #bd2d28;
}

.btn-breadcrumb .btn.btn-danger:nth-child(1):hover:after{
  border-left: 10px solid #bd2d28;
}
.btn-breadcrumb .btn.btn-danger:nth-child(2):hover:after {
  border-left: 10px solid #bd2d28;
}
.btn-breadcrumb .btn.btn-danger:nth-child(3):hover:after {
  border-left: 10px solid #bd2d28;
}
/*Media Queries*/
@media (max-width: 768px) {
    .block {
        width: 100%;
    }

    .login {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }

        .login .row div {
        width: 100%;
    }
}
@media (min-width:768px) and (max-width: 1200px) {
    .block {
        width: 100%;
    }

    .login {
        width: 50%;
    }

       .login .row div {
        width: 100%;
    }

}

/*
@media (min-width:1000px) and (max-width: 1200px) {
    .block {
        width: 100%;
    }

    .login {
        width: 50%;
    }

       .login .row div {
        width: 100%;
    }

}
*/

@media (min-width:1200px) and (max-width:1400px) {

    .login .row div {
        width: 100%;
    }

}

/*
@media (min-width:800px) and (max-width: 1200px) {
    .block {
        width: 50%;
    }
}*/
