<form name="form" novalidate class="">
  <div class="modal-header"><strong>Edit Wordle</strong></div>
  <div class="modal-body">
    <strong>Woord</strong>
    <div class="form-group row">
      <div class="col-lg-8 col-md-8 col-sm-8">
        <select class="form-control" ng-model="selected" ng-change="findLinks(selected.word)">
              <option ng-selected value="">Kies woord...</option>
              <option ng-repeat="word in wordsData" ng-value="{{word}}">{{word.word}}</option>
            </select>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-7">
                  <button class="col-lg-3 col-md-3 col-sm-3 col-xs-3 btn btn-success" ng-click="addWord()"><i class="fa fa-plus"></i></button>

        <div class="" ng-show="selected">
          <button class="col-lg-3 col-md-3 col-sm-3 col-xs-3  margin-left-sm btn btn-warning" ng-click="editWord(selected)"><i class="fa fa-edit"></i></button>
          <button class="col-lg-3 col-md-3 col-sm-3 col-xs-3  margin-left-sm btn btn-danger" ng-click="removeWord(selected)"><i class="fa fa-trash"></i></button>
        </div>
        </div>

    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-success" type="submit" ng-click="form.$valid?$close():0">Klaar</button>
    <button class="btn btn-default" type="button" ng-click="$dismiss()">Terug</button>
  </div>
</form>
