    <!doctype html>
    <html ng-app="app" lang="en">

    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <title>MeToDi</title>
        <base href="/metodi/">

        <!-- TODO: Batch load -->
        <!-- Include JS Scripts  -->
        <!-- Libraries-->
        <script src="./js/000-lib/000-jquery-2.2.1.min.js"></script>
        <script src="./js/000-lib/001-jquery-ui-1.12.1.min.js"></script>
        <script src="./js/000-lib/002-bootstrap.min.js"></script>
        <script src="./js/000-lib/003-angular.js"></script>
        <script src="./js/000-lib/004-angular-route.js"></script>
        <script src="./js/000-lib/005-angular-route-segment.min.js"></script>
        <script src="./js/000-lib/006-ui-bootstrap-tpls-2.5.0.min.js"></script>
        <script src="./js/000-lib/007-angular-idle.js"></script>
        <script src="./js/000-lib/008-angular-d3.js"></script>
        <script src="./js/000-lib/009-angular-bootstrap-toggle.min.js"></script>
        <script src="./js/000-lib/010-angular-file-upload.min.js"></script>
        <script src="./js/000-lib/011-angular-sanitize.min.js"></script>

        <!-- AngularJS -->
        <script src="./js/100-modules/101-app.js"></script>
        <script src="./js/200-routes/200-routes.js"></script>
        <script src="./js/300-controllers/300-app.js"></script>
        <!-- <script src="./js/300-controllers/301-login.js"></script> -->
        <script src="./js/300-controllers/300-main.js"></script>
        <script src="./js/300-controllers/300-search.js"></script>
        <script src="./js/300-controllers/300-topics.js"></script>

        <!-- Include CSS -->
        <link rel="stylesheet" href="./css/000-jquery-ui.min.css" type="text/css" />
        <link rel="stylesheet" href="./css/010-bootstrap.min.css" type="text/css" />
        <link rel="stylesheet" href="./css/020-font-awesome.min.css" type="text/css" />
        <link rel="stylesheet" href="./css/030-angular-bootstrap-toggle.min.css" type="text/css" />
        <link rel="stylesheet" href="./css/900-site.css" type="text/css" />

    </head>

    <body>
        <div class="container-fluid" ng-controller="appController">
            <div class="row">

                <!-- Logged In -->
                <div ng-if="user && userLoggedIn == true">
                    <header class="menu col-lg-8 col-lg-offset-2">
                        <div class="col-lg-9">
                          <img ng-src="{{ './content/logo.png'}}" alt="">
                        </div>

                        <div class="col-lg-3">
                            <div style="float:right;" class="dropdown">
                                <div class="dropdown-toggle" type="button" data-toggle="dropdown"><i class="fa fa-lg fa-caret-down" aria-hidden="true"></i><strong ng-bind-html="user.firstName + ' ' + user.familyName"></strong></div>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="#">Account Settings</a>
                                    </li>
                                    <li>
                                        <a href="#" ng-click="logout()">Logout</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </header>

                    <div class="col-lg-8 col-lg-offset-2">
                        <ul class="text-center nav nav-tabs">
                            <li ng-class="tabClass(tab)" ng-repeat="tab in tabs" tab="tab">
                                <a ng-href={{tab.url}} ng-click="setSelectedTab(tab)">{{tab.label}}</a>
                            </li>
                        </ul>
                        <div ng-if="user.userType == 0" style="z-index:1; float:right;" >
                          Edit Mode <toggle ng-model="editMode" ng-change="toggleEditMode()"></toggle>
                        </div>

                        <div class="col-lg-12 col-md-12 col-sm-12" app-view-segment="0"></div>
                    </div>
                </div>

                <div ng-include src="'./views/login/login.html'" ng-if="userLoggedIn == false">

                </div>
            </div>
        </div>
    </body>

    </html>
