<hr class="col-lg-12"/>

<div class="titleBox col-lg-11" >
  <b><i>"Voorbeeld {{chain.example.exampleId | limitTo:1:1}}: {{chain.example.title}}"</i></b>
</div>

<div class="tableContainer col-lg-11">
  <div style="float:right;" ng-if="user.userType == 0 && editMode">
    <i class="fa fa-2x fa-pencil" ng-click="$event.stopPropagation(); editExampleDesc(chain.example) " aria-hidden="true"></i>
  </div>
  <div ng-bind-html="chain.example.description" class="col-lg-12"></div>


</div>

<div id="carousel" class="col-lg-9 col-lg-offset-1 carousel slide" data-interval="false" data-ride="carousel" >
  <!-- Indicators -->
  <!-- <ol class="carousel-indicators">
    <li data-target="#carousel" data-slide-to="0" class="active"></li>
    <li data-target="#carousel" data-slide-to="1"></li>
    <li data-target="#carousel" data-slide-to="2"></li>
  </ol> -->

  <div ng-if="user.userType == 0 && editMode" class="col-lg-6">
    <i class="btn fa fa-2x fa-plus-circle" ng-click="addExampleImg(chain.example)" aria-hidden="true"></i> add image
    <i class="btn fa fa-2x fa-times-circle" ng-click="$event.stopPropagation(); deleteExampleImg(chain.example) " aria-hidden="true" ></i> remove image
  </div>
  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div ng-repeat="img in chain.example.screenshot" class="item" ng-class="{active: $first}">

      <img ng-src="{{ img && './content/'+chain.example.path +'/'+img || './content/none.gif'}}" alt="" ng-click="viewImage(img)">
      <div class="carousel-caption">
      </div>
    </div>

  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
    <span class="fa fa-chevron-circle-left fa-3x" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel" role="button" data-slide="next">
    <span class="fa fa-chevron-circle-right fa-3x" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
