<hr class="col-lg-12"/>
<div  style="float:right;" class="col-lg-1 "><span uib-tooltip="{{basisTip}}"  tooltip-placement="top" class="fa fa-lg fa-question-circle"></span></div>

<div class="row">
  <div class="text-center sectionHeading col-sm-offset-1 col-md-offset-1 col-lg-offset-1 col-sm-2 col-md-2 col-lg-2">
    <p>
      Basisprincipe
    </p>
  </div>
  <div class="col-lg-10 roundContainer shadow">
    <h4>Kader:</h4>
    {{chain.functionality.framework}}

    <h4>Richtlijnen:</h4>
  {{chain.functionality.guideline}}
  </div>
</div>


<div class="row">
  <div class="text-center sectionHeading col-sm-offset-1 col-md-offset-1 col-lg-offset-1 col-sm-2 col-md-2 col-lg-2">
    <p>
      Voorbeelden
    </p>
  </div>

  <div class="col-lg-10 shadow tableContainer">
  <table class="col-lg-12">
    <tr>
      <th>
        Nr.
      </th>
      <th>
        Omschrijving
      </th>
      <th>
        Doelgroep
      </th>
      <th>
        Actie
      </th>
    </tr>
    <tr ng-repeat="example in allExamples">
      <td>
        {{example.exampleId}}
      </td>
      <td>
  {{example.title}}
      </td>
  <td>
    {{example.targetGroup}}
  </td>
      <td class="tdBtn">
        <a href="#" class="btn btn-primary" ng-click="selectExample(example)">Openen</a>
      </td>
    </tr>
  </table>

  </div>

</div>
