<hr class="col-lg-12"/>
<div  style="float:right;" class="col-lg-1 "><span uib-tooltip="{{functionalityTip}}"  tooltip-placement="top" class="fa fa-lg fa-question-circle"></span></div>

<h1> Functionaliteiten </h1>

<div class="col-lg-10 tableContainer shadow">
<table class="col-lg-12">
  <tr>
    <th>
      Omschrijving
    </th>
    <th>
      Actie
    </th>
  </tr>
  <tr ng-repeat="functionality in allFunctionalities">
    <td>
{{functionality.description}}
    </td>
    <td class="tdBtn">
      <a href="#" class="btn btn-primary" ng-click="selectFunctionality(functionality)">Openen</a>
    </td>
  </tr>
</table>

</div>
